main {
  margin: 0 auto;
  width: 80%;
}
h1 {
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 80%;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 60%;
}

.btn-container button {
  width: 90%;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  height: 100vh;
  left: 0;
  place-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
}
.modal-content-wrapper {
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  padding: 2rem;
  place-content: center;
}
.input-container {
  display: grid;
  margin-bottom: 1rem;
}
.submit-btn {
  margin-top: 1rem;
  width: 100%;
}
